<p>Hello ${user_first_name},</p>

<p>Thank you for attending ${webcast_title}. We hope you found useful information and insight. You can <a href="${webcast_url}" style="color: #227700; text-decoration: none !important">review the presentation on demand</a> at your convenience.</p>

${webcast_attachments}

${channel_webcasts}

<p>Thank you,<br />
                   ${webcast_channel_title}</p>