<p>Hello ${user_first_name},</p>

<p>We missed you at ${webcast_title}. You can now <a href="${webcast_url}" style="color: #227700; text-decoration: none !important">view the presentation on demand</a> at your convenience.</p>

${webcast_attachments}

${channel_webcasts}

<p>Thank you,<br />
                   ${webcast_channel_title}</p>