<p>Hello ${user_first_name},</p>
<p>
Thank you for registering to attend ${webcast_title}. We look forward to having you join the live session.</p>

<p>${webcast_details}</p>
<p>&nbsp;</p>
<p>You can test your system now to make sure you can view our webinars and videos: ${help_viewers_systemtest}.</p> 

<p>${channel_webcasts}</p>

 <p>Thank you,<br />
                   ${webcast_channel_title}</p>