<p>Hello ${user_first_name},</p>
<p>
The webinar you registered to attend, ${webcast_title}, has been rescheduled. Here are the new details:</p>

<p>${webcast_details}</p>
<p>&nbsp;</p>
<p>We hope you can make the new time and we look forward to your participation.</p> 

<p>${channel_webcasts}</p>

 <p>Thank you,<br />
                   ${webcast_channel_title}</p>