<p>Hello ${user_first_name},</p>
<p>
Your webinar, ${webcast_title}, is about to begin. Attend it here:</p>

<p>${webcast_details}</p>
<p>&nbsp;</p>
<p>If you haven't yet, test your system now to make sure you can view our webinars and videos: ${help_viewers_systemtest}.</p> 

<p>We look forward to your participation.</p>

 <p>Thank you,<br />
                   ${webcast_channel_title}</p>