<p>Hello ${user_first_name},</p>
<p>
We are looking forward to your participation in ${webcast_title} tomorrow.</p>

<p>${webcast_details}</p>
<p>&nbsp;</p>
<p>You can test your system now to make sure you can view our webinars and videos: ${help_viewers_systemtest}.</p> 

<p>${channel_webcasts}</p>

 <p>Thank you,<br />
                   ${webcast_channel_title}</p>