<h1>Editing email_preference - Click "Update Email Preference" to see changes</h1>

<div id="container" style="width:1500px; margin:auto" align="center">


   <div class="header" align="left">
        <div class="headerTop" style="padding-left:48px; padding-top:15px">

            <a href="/" class="logo">
                <img class="logoImage" src="https://www.brighttalk.com/resources/images/logo-transparent-139x25.png?v=59596105" width="139" height="25" alt="BrightTALK">
            </a>
            </div>
            </div>

<div style="width:250px; float:left; text-align:left">

<br />

<%= render 'form' %>

<br />

<%= link_to 'Show', @email_preference %> |
<%= link_to 'Back', email_preferences_path %>

</div>

  <p> This is an example of your Registration Confirmation email, all emails will follow this style, with different body text  </p>

<iframe style="width: 800px; height: 600px" src="/preview/email"></iframe>
